# input function

In [1]:
x = "Manoj"
print(x)

Manoj

In [2]:
y = input()
print(y)

ITKannadigaru

In [3]:
y = input("Enter you name: ")
print(y)

Manoj

In [4]:
y = input("Enter you name: ")
print(f"Your name is {y}")

Your name is Manoj

In [6]:
name = input("Enter you name: ")
age = input("enter your age: ")
print(f"your name is {name}, and your age is {age}")

your name is Manoj, and your age is 48

In [7]:
name = input("Enter you name: ")
age = input("enter your age: ")
print(f"your name is {name}, and your age is {age+20}")

TypeError: can only concatenate str (not "int") to str

In [8]:
name = input("Enter you name: ")
age = input("enter your age: ")
print(f"your name is {name}")
print( age+20)

your name is Manoj

TypeError: can only concatenate str (not "int") to str

In [9]:
name = input("Enter you name: ")
age = input("enter your age: ")
print(f"your name is {name}")
type(name)
type(age)

your name is Manoj

str

In [11]:
name = input("Enter you name: ")
age = input("enter your age: ")
print(f"your name is {name}")
temp = int(age)
type(name)
type(temp)
print(temp+10)

your name is Manoj
20

In [12]:
n = input()
print(n)
print(type(n))

10
<class 'str'>

In [13]:
n = int(input())
print(n)
print(type(n))

10
<class 'int'>

In [14]:
li = [1,2,3,4]
print(li)

[1, 2, 3, 4]

In [15]:
li = []
n = 3
for i in range(n):
    temp = input()
    li.append(temp)

print(li)

['10', '20', '30']

In [17]:
li = []
n = 3
for i in range(n):
    temp = input()
    li.append(temp)

print(li)
type(temp)

['', '10', '10']

str

In [18]:
li = []
n = 3
for i in range(n):
    temp = int(input())
    li.append(temp)

print(li)
type(temp)

[10, 20, 30]

int

In [19]:
s="1 4 5 6"
print(s)

1 4 5 6

In [20]:
s=input()
print(s)

 1 4 5 6

In [21]:
s=input()
temp = s.split()
print(temp)

['1', '4', '6', '4']

In [22]:
s="1 4 5 6"
temp = s.split()
print(temp)

['1', '4', '5', '6']

In [ ]:
s="1,4,5,6"
# default separator is space
temp = s.split()
print(temp)

['1,4,5,6']

In [24]:
s="1,4,5,6"
temp = s.split(',')
print(temp)

['1', '4', '5', '6']

In [26]:
li = []
s="1,4,5,6"
temp = s.split(',')
print(temp)

['1', '4', '5', '6']

In [27]:
li = []
s="1,4,5,6"
temp = s.split(',')
for i in range(len(temp)):
    val = temp[i]
    li.append(int(val))
print(li)

[1, 4, 5, 6]

In [34]:
s="1,4,5,6"
li = list(map(int,s.split(',')))
print(li)

[1, 4, 5, 6]

In [35]:
s = '1 2 3 4'
temp = s.split()
print(temp)

['1', '2', '3', '4']

In [36]:

temp = '1 2 3 4'.split()
print(temp)

['1', '2', '3', '4']

In [38]:
li = map(int,'1 2 3 4'.split())
print(li)

<map object at 0x108ed5c60>

In [39]:
li = list(map(int,'1 2 3 4'.split()))
print(li)

[1, 2, 3, 4]

In [40]:
li = list(map(int,input().split()))
print(li)

[10, 20, 30, 40]

In [41]:
li = list(map(int,input().split()))
print(li)

ValueError: invalid literal for int() with base 10: '10.5'

In [42]:
li = list(map(eval,input().split()))
print(li)

[10.5, 20.5, 40.6, 1, 3, 5]

In [44]:
li = list(map(eval,input().split()))
print(li)

['test', 40, 50, 20.5]