# Operators

## Arthimetic operators
- additon (+)
- substraction (-)
- multiplication (*)
- division (/)
- floor division (//)
- modulus (%)
- exponentiation (**) 

## Comparasion operators
- Equal to 
- Not Equal to
- greater than
- less tha
- Greater than or equal to 
- less than or equal

## Logical operators
- AND
- OR
- NOT

In [4]:
a=20
b=10

In [5]:
# Addition
add_result = a+b
print(add_result)

30

In [ ]:
# substractions
sub_result= a - b
print(sub_result)

10

In [8]:
# multiplication
mul_result = a*b
print(mul_result)

200

In [ ]:
# division
div_result = a/b
print(div_result)

2.0

In [ ]:
## floor division
div_result = a//b
print(div_result)

2

In [11]:
a=21
b=2

a/b

10.5

In [12]:
a//b

10

In [ ]:
a%b

1

In [14]:
a**b

441

In [ ]:
# comparsion operators
# == Equals to operator
a=10
b=10

a==b

True

In [18]:
a=10
b=20

a==b

False

In [19]:
a=10
b=20

a!=b

True

In [20]:
age1=20
age2=30

age1>age2

False

In [21]:
age1=20
age2=30

age1<age2

True

In [22]:
age1=20
age2=30

age1<=age2

True

In [26]:
age1=30
age2=30

age1>=age2

True

In [27]:
#logical operators

# and
X=True
Y=True
result X and Y
print(result)

SyntaxError: invalid syntax (3700814620.py, line 6)

In [28]:
#logical operators

# and
X=True
Y=True
result=X and Y
print(result)

True

In [30]:
# or
X=True
Y=False
result=X or Y
print(result)

True

In [32]:
# or
X=False
Y=False
result=X or Y
print(result)

False

In [ ]:
#NOT

In [ ]:
# Simple calaculator

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2


print("Addition: ", addition)   
print("Susubtraction",subtraction)
print("multiplication",multiplication)
print("division",division)
print("floor division",floor_division)
print("modulus",modulus)
print("exponentiation",exponentiation)

SyntaxError: invalid syntax (4136863390.py, line 10)

In [34]:
# Simple calaculator

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2


print("Addition: ", addition)   
print("Susubtraction",subtraction)
print("multiplication",multiplication)
print("division",division)
print("floor division",floor_division)
print("modulus",modulus)
print("exponentiation",exponentiation)

Addition:  15.0
Susubtraction 5.0
multiplication 50.0
division 2.0
floor division 2.0
modulus 0.0
exponentiation 100000.0

In [35]:
# Simple calaculator

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2


print("Addition: ", addition)   
print("Susubtraction",subtraction)
print("multiplication",multiplication)
print("division",division)
print("floor division",floor_division)
print("modulus",modulus)
print("exponentiation",exponentiation)

Addition:  26.0
Susubtraction 16.0
multiplication 105.0
division 4.2
floor division 4.0
modulus 1.0
exponentiation 4084101.0

In [1]:
x=False
not x

True